{{ define "content" }}
<section>
  <h2>NAME</h2>
  <div class="indent">
    <p>contact — how to reach dylan</p>
  </div>
</section>

<section>
  <h2>CHANNELS</h2>
  <div class="indent">
    <dl>
    <dt><b>email</b></dt>
    <dd>
      <a id="link-interaction" rel="nofollow noindex" href="dylanm-illinois-edu">
        email
      </a>
    </dd>

      <dt><b>github</b></dt>
      <dd><a href="https://github.com/DylanMeeks">github.com/DylanMeeks</a></dd>

      <dt><b>linkedin</b></dt>
      <dd><a href="#">linkedin.com/in/yourusername</a></dd>
    </dl>
  </div>
</section>

<section>
  <h2>BUGS</h2>
  <div class="indent">
    <p>Report site issues to the email above.</p>
  </div>
</section>

<section>
  <h2>SEE ALSO</h2>
  <div class="indent">
    <p><a href="/">dylan</a>(1)</p>
  </div>
</section>

{{ end }}
