{{ define "content" }}
{{ $postInfo := getPost .Posts .Title }}
<section>
    <h2>NAME</h2>
    <div class="indent">
        <p>{{ .Title }}</p>
    </div>
</section>
<section>
    <h2>Description</h2>
    <div class="indent">{{ index $postInfo.Tags "Desc" }}</div>
</section>
<section>
    <h2>CONTENT</h2>
    <div class="indent">{{ $postInfo.Content }}</div>
</section>
<section>
    <h2>BUGS</h2>
    <div class="indent">
        <p>Send any feedback to site at this domain. I look forward to hearing your thoughts.</p>
    </div>
</section>
<section>
    <h2>SEE ALSO</h2>
    <div class="indent">
        <p><a href="/">Dylan</a>(1), <a href="/blog">blog</a>(1)</p>
    </div>
</section>
{{ end }}
