{{ define "content" }}
<section>
    <h2>NAME</h2>
    <div class="indent">
        <p>projects — things Dylan has built or is building</p>
    </div>
</section>
<section>
    <h2>DESCRIPTION</h2>
    <div class="indent">
        <p>A non-exhaustive list of projects, in no particular order.</p>
    </div>
</section>
<section>
    <h2>ENTRIES</h2>
    <div class="indent">
        <dl>
            <dt><b>barz2</b>(1)</dt>
            <dd>
                A basic sorting algorithm visualization that I wrote for 
                fun to learn more about raylib and zig's new IO interface. 
                I have implemented a few sorting algorithms, namely: Insertion 
                Sort, Quick Sort, Bubble Sort, and Radix Sort.
                <br />
                <a href="https://git.sr.ht/~playful/barz2">source</a>
            </dd>

            <dt><b>personal-site</b>(1)</dt>
            <dd>
                A man-page styled personal website. Served by Go using
                html/template; static assets in vanilla HTML and CSS.
                <br />
                <a href="https://github.com/DylanMeeks/website">source</a>
            </dd>

        </dl>
    </div>
</section>
<section>
    <h2>SEE ALSO</h2>
    <div class="indent">
        <p><a href="/">Dylan</a>(1), <a href="/skills">skills</a>(1)</p>
    </div>
</section>
{{ end }}
